.header {
   display: flex;
   justify-content: space-between;

   .title {
      color: #f4f4f4;
   }

   .loggedIn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 100px;
      cursor: pointer;
      .username {
         margin: 0px 7px;
      }
   }
}
