.container {
   width: 80%;
   margin: 100px auto;

   .spinner {
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .posts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10em, 27em));
      margin: auto;
      margin-bottom: 0px;
      padding-bottom: 50px;
      justify-content: center;
   }

   .footer {
      padding-bottom: 75px;
      margin: 20px auto;
      .flexer {
         display: flex;
         justify-content: space-between;
         .read_more:hover {
            background-color: #1890ff;
            color: #fff;
         }
      }
      .footer_para {
         width: fit-content;
         text-align: center;
         margin: 30px auto;
      }
   }
}
