.card {
   height: fit-content !important;
   margin: 20px auto;

   h3 {
      margin-bottom: 3px;
      transition: all 250ms ease-in-out;
   }

   h3:hover {
      color: #1890ff;
   }

   .meta_data {
      .raw {
         display: flex;
         align-items: center;
         small {
            margin-right: 5px;
         }
         span {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #666;
            margin-right: 5px;
         }
      }

      .description {
         margin-top: 15px;
         margin-bottom: 0px;
         color: rgba(0, 0, 0, 0.45);
      }
   }

   .upVote,
   .downVote {
      border-color: #666;
   }

   .upVote:hover {
      border-color: #27ae60;
      span {
         svg {
            color: #27ae60;
         }
      }
   }

   .downVote:hover {
      border-color: #c0392b;
      span {
         svg {
            color: #c0392b;
         }
      }
   }
}
